#custom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    width:100%;
}

.flb {
    height:100%;
    width:100%;
    display: flex;
    align-items: center ;
    justify-content: center;
}

.boton-modal {
    align-self: flex-end;
    width: 100%;
}