<ion-header no-border>
  <ion-toolbar color="tertiary">
    <ion-title> Información </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div>
    <div class="box-info">
      <ion-label> {{ mensajeAMostrar }} </ion-label>  
    </div>
    <div class="box-boton">
      <ion-button color="tertiary" 
                  expand="full" 
                  (click)="salir()"
                  style="height: 75px;">
        Aceptar
      </ion-button>
    </div>
  </div>     

</ion-content>