ion-content {
    --background: lightgrey;
}
  
.box-info {
    margin-top: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.box-boton {
    margin-top: 70%;
}