.imagen {
    height: 50px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.divImagen {
    display: inline;
    margin-left: 50%;
}

.boton-like {
    margin-left: 5%;
}

.votos {
    color: white;
    font-size: large;
    margin-left: 3%;
}

a {
    text-decoration: none;
    font-size: small;
}
.boton {
    max-width: 90px;
    font-size: 8px;
    margin: 0;
}