<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="end" fill="clear" (click)="presentActionSheet()">
      <ion-icon style="color: aliceblue" name="menu"></ion-icon>
    </ion-button>
    <ion-title>
      Relevamiento Visual
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div style="text-align: center;">
      <ion-label>
        <h1><b> Tomar foto de cosas Lindas</b></h1>
      </ion-label>
    </div>
    <ion-button class="marks-buttons" color="primary" expand="block" (click)="sacarFoto(0)">
      <img src="../../assets/check.png" alt="">
    </ion-button>
    <div style="text-align: center;">
      <ion-label>
        <h1><b>Tomar foto de cosas Feas</b></h1>
      </ion-label>
    </div>
    <ion-button class="marks-buttons" color="primary" expand="block" (click)="sacarFoto(1)">
      <img src="../../assets/cross.png" alt="">
    </ion-button>
  </div>
  <img *ngIf='imagen' [src]="imagen" alt="">
</ion-content>